<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/main.css' />
  </head>
  <body>
    <h1 class="jh1">~ J test 2 ^_^ ~</h1>

    <h2><%= title %></h2>

    <p>Welcome to <%= title %></p>
  </body>
</html>
